.image-container {
  position: relative;
  width: 100vw;
  height: 700px; /* Adjust this height according to your needs */
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.marquee-container {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.marquee-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

#marq1 {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}

#marq2 {
  display: inline-flex;
  animation: marquee 20s linear infinite reverse;
  animation-delay: 5s;
}

.marquee-image {
  max-width: 130px;
  max-height: 130px;
  margin-right: 10px;
  margin-left: 10px;
  object-fit: contain;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

